{%- macro dumpunaskedfor(x) -%}
<dl>
    {% for key in x._unaskedfor | sort -%}
        {% if '__' not in key %}
        <dt>{{ key }}</dt>
        <dd>
            {% set value = x[key] -%}
            {% if value._unaskedfor is defined -%}
                {{ dumpunaskedfor(value) }}
            {% else -%}
                {% set value = x._safe(key) -%}
                {% if value is string -%}
                    {{ value }}
                {% elif value is sequence -%}
                    <ol>
                        {% for y in value -%}
                            <li>
                                {% if y._unaskedfor is defined -%}
                                    {{ dumpunaskedfor(y) }}
                                {% else -%}
                                    {{ y }}
                                {% endif -%}
                            </li>
                        {% endfor -%}
                    </ol>
                {% else -%}
                    {{ value }}
                {% endif -%}
            {% endif -%}
        </dd>
        {% endif %}
    {% endfor -%}
</dl>
{% endmacro -%}

<!doctype html>
<html>
    <head>
        <title>{{ recipe.name }}</title>
    </head>
    <body>
        <h1>{{ recipe.name }}</h1>
        {% if recipe.image is defined %}
        <hr>
        <img src='{{ recipe.image.filename }}'>
        {% endif %}
        <hr>
        {{ dumpunaskedfor(recipe) }}
    </body>
</html>
